.box {
    border: 3px solid black; 
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blanchedalmond;
    background-color: cornflowerblue;   
}

.box:hover {
    color: orange;
    border: 3px solid grey; 
    
    
}

.box-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
span {
    font-size: 1rem;
}

kbd {
    display: block;
    width: 4.5vmax;
    font-size: 3rem;
}
body {
    display: block;
    margin: 5vmax;
    margin-top: 40vmin;
    background: url("bg2.jpg");
    background-size: cover;
}