.box {
    border: 3px solid black; 
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blanchedalmond;
    background-color: cornflowerblue;   
    transition: all 0.07s;
}

.boxc {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.playing {
    color: orange;
    border: 3px solid grey; 
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1);
}


span {
    font-size: 1rem;
}

kbd {
    display: block;
    width: 4.5vmax;
    font-size: 3rem;
    color: white;
}

body {
    display: block;
    margin: 5vmax;
    margin-top: 40vmin;
    background: url("bg2.jpg");
    background-size: cover;
}