#box {
    display: block;
    border: 1px solid black; 
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#box-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}
span {
    font-size: 1rem;
}

kbd {
    display: block;
    width: 4rem;
    font-size: 3rem;
}
body {
    margin: 5vh;
    display: block;
}