body {
    background-color: #3aafa9;
}   
 
.clock {
    border-radius: 100%; 
    background-color: #feffff;
    height: 40rem;
    width: 40rem;
    border: 1.5rem solid black;
    margin: 50px auto;
    padding: 2rem;
} 

.clock-face {
   width: 100%;
   height: 100%;
   transform: translateY(0px);
   position: relative;
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58);
}
